.table-container {
    margin-right: 22%;
    width: 78%;
    float: right;
    margin-top: 2%;
}
textarea {
    border: none !important;
    outline: none !important;
}
.spinner {
    margin-left: 50%;
    margin-top: 15%;
}
